@model IEnumerable<funkostore.Models.Pago>

@{
    ViewData["Title"] = "Index";
    var count = 1;
}
<br>

<table class="table table-info table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">
                        №
             </th>
             <th scope="col">
                 Correo del usuario
             </th>
             <th scope="col">
                  Fecha del pago
             </th>

              <th scope="col">
                 @Html.DisplayNameFor(model => model.MontoTotal)
              </th>
              <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
           <th scope="row">
                    @count
            </th>
            <td>
                 @Html.DisplayFor(modelItem => item.UserID)
            </td>
            <td>
               @Html.DisplayFor(modelItem => item.PaymentDate)
            </td>                
            <td>
                  S/. @Html.DisplayFor(modelItem => item.MontoTotal)
                </td>
            <td>             
                <!--
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">Eliminar</a>
                -->
            </td>
        </tr>
        count++;
}
    </tbody>
</table>
<div class="container">        
    <a asp-action="ExportarExcel">GENERAR REPORTE EXCEL</a>
</div>