@model IEnumerable<funkostore.Models.Producto>

@{
    ViewData["Title"] = "Index";
}

<h1>Productos</h1>

<p>
    <a asp-action="Create">Crear nuevo</a>
</p>
<table class="table table-info table table-striped">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PorcentajeDescuento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>            
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PorcentajeDescuento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Detalle</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
